IF OBJECT_ID('dbo.AportesAfiliadosOtrasCCF', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[AportesAfiliadosOtrasCCF];
END



USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[AportesAfiliadosOtrasCCF]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AportesAfiliadosOtrasCCF]
    @TipoDocumento   NVARCHAR(2),
    @NumeroDocumento NVARCHAR(17),
    @CCF             NVARCHAR(10),
    @PeriodoPagoInicio  NVARCHAR(7),
    @PeriodoPagoFin     NVARCHAR(7)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- CONVERSIÓN DE PERÍODOS (YYYY/MM) A RANGO DE FECHAS
    ------------------------------------------------------------
    DECLARE @FechaInicio DATE = TRY_CONVERT(DATE, @PeriodoPagoInicio + '-01', 23);
    DECLARE @FechaFin    DATE = EOMONTH(TRY_CONVERT(DATE, @PeriodoPagoFin + '-01', 23));

    IF @FechaInicio IS NULL OR @FechaFin IS NULL
    BEGIN
        RAISERROR('Formato inválido en PeriodoPagoInicio/PeriodoPagoFin. Use YYYY-MM (ej: 2025-01).', 16, 1);
        RETURN;
    END;

    IF @FechaInicio > @FechaFin
    BEGIN
        RAISERROR('PeriodoPagoInicio no puede ser mayor que PeriodoPagoFin.', 16, 1);
        RETURN;
    END;

    ------------------------------------------------------------
    -- CONFIGURACIÓN
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;
    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- TABLA RESULTADO
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        Caja_id NVARCHAR(50),
        Caja NVARCHAR(50),
        TipoDocumentoEmpleador NVARCHAR(10),
        NumeroDocumentoEmpleador NVARCHAR(20),
        TipoDocumentoAfiliado NVARCHAR(10),
        NumeroDocumentoAfiliado NVARCHAR(20),
        fecha_registro DATETIME,
        tipo NVARCHAR(50),
        dias INT,
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- BASES A RECORRER
    ------------------------------------------------------------
    DECLARE @Bases TABLE (
        TipoServidor CHAR(1),
        NombreBase SYSNAME
    );

    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        INNER JOIN [BDCCFSERVER2].H2_Migration.dbo.cat_cajascaja c
            ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX('_', d.name) + 1, LEN(d.name)))
        AND UPPER(LTRIM(RTRIM(c.afiliada))) = 'SI'
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    IF @UsarLinked = 1
    AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases (TipoServidor, NombreBase)
            EXEC (
                'SELECT ''R'', d.name
                FROM [' + @LinkedServer + '].master.sys.databases d
                INNER JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX(''_'', d.name) + 1, LEN(d.name)))
                    AND UPPER(LTRIM(RTRIM(c.afiliada))) = ''SI''
                WHERE d.name LIKE ''espejo_ccf%''
                AND d.state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END


    ------------------------------------------------------------
    -- RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur;
    FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @SQL = N'
            INSERT INTO #Resultado
            SELECT
                SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)) AS Caja_id,
                c.nombre_corto AS Caja,
                aa.C8 AS TipoDocumentoEmpleador,
                aa.C9 AS NumeroDocumentoEmpleador,
                aa.C47 AS TipoDocumentoAfiliado,
                aa.C48 AS NumeroDocumentoAfiliado,
                aa.C1001 AS fecha_registro,
                aa.C1003 AS tipo,
                aa.C1004 AS dias,
                CONVERT(VARCHAR(23), aa.FechaModificacion, 121) AS FechaModificacion
            FROM {DB}.dbo.Aportes_Afiliados aa
            LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                                        ON c.cajacod = UPPER(SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))

            WHERE aa.C47 = @TipoDocumento
              AND aa.C48 = @NumeroDocumento
              AND SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)) <> @CCF
              AND aa.C1001 >= @FechaInicio
              AND aa.C1001 < DATEADD(DAY, 1, @FechaFin)
              ;
            ';

            IF @TipoServidor = 'L'
                SET @SQL = REPLACE(@SQL, '{DB}', QUOTENAME(@NombreBase));
            ELSE
                SET @SQL = REPLACE(
                    @SQL,
                    '{DB}',
                    QUOTENAME(@LinkedServer) + '.' + QUOTENAME(@NombreBase)
                );

            EXEC sp_executesql
                @SQL,
                N'
                    @TipoDocumento NVARCHAR(2),
                    @NumeroDocumento NVARCHAR(17),
                    @CCF NVARCHAR(10),
                    @FechaInicio DATE,
                    @FechaFin DATE,
                    @NombreBase SYSNAME
                ',
                @TipoDocumento = @TipoDocumento,
                @NumeroDocumento = @NumeroDocumento,
                @CCF = @CCF,
                @FechaInicio = @FechaInicio,
                @FechaFin = @FechaFin,
                @NombreBase = @NombreBase;

        END TRY
        BEGIN CATCH
            PRINT 'Error en ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur;
    DEALLOCATE cur;

    ------------------------------------------------------------
    -- RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY Caja, fecha_registro;
END
GO
