IF OBJECT_ID('dbo.AfiliacionComoEmpleadorHist', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[AfiliacionComoEmpleadorHist];
END



USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[AfiliacionComoEmpleadorHist]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AfiliacionComoEmpleadorHist]
    @TipoDocumento    NVARCHAR(2),
    @NumeroDocumento  NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- 1. CONFIGURACIÓN INTERNA
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;

    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- 2. TABLA CONSOLIDADA
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        numeroTransaccion NVARCHAR(50),
        ccfResponde NVARCHAR(50),
        tipoIdentificacionEmpresa NVARCHAR(10),
        numeroIdentificacionEmpresa NVARCHAR(20),
        razonSocial NVARCHAR(200),
        fechaIniAfiliacionEmpleador NVARCHAR(10),
        fechaFinAfiliacionEmpleador NVARCHAR(10),
        estadoAfiliacion INT,
        fechaCreacionEmpresa NVARCHAR(20),
        registroMercantil NVARCHAR(50),
        fechaRegistroMercantil NVARCHAR(20),
        fechaRenovacionMatriculaMercantil NVARCHAR(20),
        claseEmpleador NVARCHAR(50),
        codigoNovedad NVARCHAR(50),
        codigoReferencia NVARCHAR(50),
        fechaValidacionRUES NVARCHAR(20),
        codigoValidacionRUES NVARCHAR(50),
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- 3. BASES A CONSULTAR
    ------------------------------------------------------------
    DECLARE @Bases TABLE (TipoServidor CHAR(1), NombreBase SYSNAME);

    -- Bases locales
    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        INNER JOIN [BDCCFSERVER2].H2_Migration.dbo.cat_cajascaja c
            ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX('_', d.name) + 1, LEN(d.name)))
        AND UPPER(LTRIM(RTRIM(c.afiliada))) = 'SI'
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    -- Bases linked
    IF @UsarLinked = 1
       AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases
            EXEC (
                'SELECT ''R'', name
                 FROM [' + @LinkedServer + '].master.sys.databases
                 WHERE name LIKE ''espejo_ccf%''
                   AND state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'Advertencia: no se pudo consultar linked server ' + @LinkedServer;
        END CATCH
    END

    ------------------------------------------------------------
    -- 4. RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur_bases CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur_bases;
    FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            IF @TipoServidor = 'L'
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT DISTINCT
                    '''',
                    --SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')),
                    c.nombre_corto,
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    0,
                    '''','''','''','''','''','''','''','''','''',
                    afe.FechaModificacion
                FROM [' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8
                   AND afe.c9 = e.c9
                   AND afe.c525 IS NOT NULL
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(
    SUBSTRING(@NombreBase,
              CHARINDEX('_', @NombreBase) + 1,
              LEN(@NombreBase))
)
                WHERE e.c8 = @TipoDocumento
                  AND e.c9 = @NumeroDocumento;';
            END
            ELSE
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT DISTINCT
                    '''',
                    --SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')),
                    c.nombre_corto,
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    0,
                    '''','''','''','''','''','''','''','''','''',
                    afe.FechaModificacion
                FROM [' + @LinkedServer + '].[' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8
                   AND afe.c9 = e.c9
                   AND afe.c525 IS NOT NULL
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(
    SUBSTRING(@NombreBase,
              CHARINDEX('_', @NombreBase) + 1,
              LEN(@NombreBase))
)
                WHERE e.c8 = @TipoDocumento
                  AND e.c9 = @NumeroDocumento;';
            END

			print @SQL;

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en BD ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur_bases;
    DEALLOCATE cur_bases;

    ------------------------------------------------------------
    -- 5. RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY ccfResponde, fechaIniAfiliacionEmpleador;
END;
GO
