IF OBJECT_ID('dbo.DatosBasicosEmpresa', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[DatosBasicosEmpresa];
END





USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[DatosBasicosEmpresa]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DatosBasicosEmpresa]
    @TipoDocumento    NVARCHAR(2),
    @NumeroDocumento  NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- 1. CONFIGURACIÓN
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;

    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- 2. TABLA RESULTADO
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        ccfResponde NVARCHAR(50),
        tipoIdentificacionEmpresa NVARCHAR(10),
        numeroIdentificacionEmpresa NVARCHAR(20),
        razonSocial NVARCHAR(200),
        fechaInicioActividadEconomica NVARCHAR(20),
        numeroMatriculaMercantil NVARCHAR(50),
        fechaRenovacionMatriculaMercantil NVARCHAR(20),
        fechaCancelacionMatriculaMercantil NVARCHAR(20),
        pais NVARCHAR(50),
        departamento NVARCHAR(100),
        municipio NVARCHAR(100),
        direccion NVARCHAR(200),
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- 3. BASES A CONSULTAR
    ------------------------------------------------------------
    DECLARE @Bases TABLE (TipoServidor CHAR(1), NombreBase SYSNAME);

    -- Locales
    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        INNER JOIN [BDCCFSERVER2].H2_Migration.dbo.cat_cajascaja c
            ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX('_', d.name) + 1, LEN(d.name)))
        AND UPPER(LTRIM(RTRIM(c.afiliada))) = 'SI'
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    -- Linked
    IF @UsarLinked = 1
    AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases (TipoServidor, NombreBase)
            EXEC (
                'SELECT ''R'', d.name
                FROM [' + @LinkedServer + '].master.sys.databases d
                INNER JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX(''_'', d.name) + 1, LEN(d.name)))
                    AND UPPER(LTRIM(RTRIM(c.afiliada))) = ''SI''
                WHERE d.name LIKE ''espejo_ccf%''
                AND d.state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    ------------------------------------------------------------
    -- 4. RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur_bases CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur_bases;
    FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            IF @TipoServidor = 'L'
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT DISTINCT
                    --UPPER(SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase))),
                    c.nombre_corto,
                    e.c8,
                    e.c9,
                    e.c11,
                    '''',
                    '''',
                    '''',
                    '''',
                    '''',
                    e.c517,
                    e.c517,
                    e.c519,
                    e.FechaModificacion
                FROM [' + @NombreBase + '].dbo.empleadores e
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)))
                WHERE e.c8 = @TipoDocumento
                  AND e.c9 = @NumeroDocumento;';
            END
            ELSE
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT DISTINCT
                    c.nombre_corto,
                    e.c8,
                    e.c9,
                    e.c11,
                    '''',
                    '''',
                    '''',
                    '''',
                    '''',
                    e.c517,
                    e.c517,
                    e.c519
                FROM [' + @LinkedServer + '].[' + @NombreBase + '].dbo.empleadores e
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)))
                WHERE e.c8 = @TipoDocumento
                  AND e.c9 = @NumeroDocumento;';
            END

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en BD ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur_bases;
    DEALLOCATE cur_bases;

    ------------------------------------------------------------
    -- 5. RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY ccfResponde;
END;
GO
