IF OBJECT_ID('dbo.AfiliacionComoTrabajadorHist', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[AfiliacionComoTrabajadorHist];
END

USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[AfiliacionComoTrabajadorHist]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AfiliacionComoTrabajadorHist]
    @TipoDocumento    NVARCHAR(2),
    @NumeroDocumento  NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- 1. CONFIGURACIÓN INTERNA
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;

    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- 2. TABLA CONSOLIDADA
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        numeroTransaccion NVARCHAR(50),
        ccfCorrespondeConsultado NVARCHAR(50),
        tipoIdentificacionConsultado NVARCHAR(2),
        numIdenConsultado NVARCHAR(17),
        tipoAfiliado NVARCHAR(50),
        tipoIdenEmpleador NVARCHAR(10),
        numIdenEmpleador NVARCHAR(20),
        razonSocialEmpleador NVARCHAR(200),
        fechaIniAfiliacionEmpleador NVARCHAR(10),
        fechaFinAfiliacionEmpleador NVARCHAR(10),
        estadoAfiliacionEmpleador NVARCHAR(20),
        primerNombreTrabajador NVARCHAR(100),
        segundoNombreTrabajador NVARCHAR(100),
        primerApellidoTrabajador NVARCHAR(100),
        segundoApellidoTrabajador NVARCHAR(100),
        tipoAfiliacion NVARCHAR(50),
        subTipoTrabajador NVARCHAR(50),
        horasMesContratadas NVARCHAR(50),
        fechaIniAfiliacionTrabajador NVARCHAR(10),
        fechaFinAfiliacionTrabajador NVARCHAR(10),
        estadoAfiliacionTrabajador NVARCHAR(20),
        salarioBasicoIntegral NVARCHAR(50),
        salarioIntegral NVARCHAR(50),
        ingresosReportDependiente NVARCHAR(50),
        ingresosReportIndependiente NVARCHAR(50),
        ingresosReportPensionado NVARCHAR(50),
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- 3. BASES A CONSULTAR
    ------------------------------------------------------------
    DECLARE @Bases TABLE (TipoServidor CHAR(1), NombreBase SYSNAME);

    -- Locales
    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases
        SELECT 'L', name
        FROM sys.databases
        WHERE name LIKE 'espejo_ccf%'
          AND state_desc = 'ONLINE';
    END

    -- Linked
    IF @UsarLinked = 1
       AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases
            EXEC (
                'SELECT ''R'', name
                 FROM [' + @LinkedServer + '].master.sys.databases
                 WHERE name LIKE ''espejo_ccf%''
                   AND state_desc = ''ONLINE''
				   AND name IN(''espejo_ccf03'', ''espejo_ccf06'', '''')'
            );
        END TRY
        BEGIN CATCH
            PRINT 'Advertencia: no se pudo consultar el linked server ' + @LinkedServer;
        END CATCH
    END

    ------------------------------------------------------------
    -- 4. RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE 
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur_bases CURSOR FOR
        SELECT TipoServidor, NombreBase
        FROM @Bases;

    OPEN cur_bases;
    FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            IF @TipoServidor = 'L'
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT
                    '''',
                    --SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')),
                    c.nombre_corto,
                    aft.c47,
                    aft.c48,
                    '''',
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    CASE WHEN afe.c583 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    t.c51,
                    t.c52,
                    t.c49,
                    t.c50,
                    '''',
                    '''',
                    '''',
                    FORMAT(aft.c523, ''yyyy/MM/dd''),
                    FORMAT(aft.c525, ''yyyy/MM/dd''),
                    CASE WHEN aft.c525 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    '''',
                    '''',
                    '''',
                    '''',
                    '''',
                    aft.FechaModificacion
                FROM [' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8 AND afe.c9 = e.c9
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_trabajadores aft
                    ON aft.c8 = e.c8 AND aft.c9 = e.c9
                INNER JOIN [' + @NombreBase + '].dbo.trabajadores t
                    ON t.c47 = aft.c47 AND t.c48 = aft.c48
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(
                SUBSTRING(''' + @NombreBase + ''',CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))
                WHERE aft.c525 IS NOT NULL
                    AND aft.c47 = @TipoDocumento
                    AND aft.c48 = @NumeroDocumento;';
            END
            ELSE
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT
                    '''',
                    --SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')),
                    c.nombre_corto,
                    aft.c47,
                    aft.c48,
                    '''',
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    CASE WHEN afe.c583 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    t.c51,
                    t.c52,
                    t.c49,
                    t.c50,
                    '''',
                    '''',
                    '''',
                    FORMAT(aft.c523, ''yyyy/MM/dd''),
                    FORMAT(aft.c525, ''yyyy/MM/dd''),
                    CASE WHEN aft.c525 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    '''',
                    '''',
                    '''',
                    '''',
                    '''',
                    aft.FechaModificacion
                FROM [' + @LinkedServer + '].[' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8 AND afe.c9 = e.c9
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_trabajadores aft
                    ON aft.c8 = e.c8 AND aft.c9 = e.c9
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.trabajadores t
                    ON t.c47 = aft.c47 AND t.c48 = aft.c48
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(
                SUBSTRING(''' + @NombreBase + ''',CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))
                WHERE aft.c525 IS NOT NULL
                    AND aft.c47 = @TipoDocumento
                    AND aft.c48 = @NumeroDocumento;';
            END

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en BD ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH

        FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur_bases;
    DEALLOCATE cur_bases;

    ------------------------------------------------------------
    -- 5. RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY ccfCorrespondeConsultado;
END;
GO
