IF OBJECT_ID('dbo.BeneficiariosAfiliadoHist', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[BeneficiariosAfiliadoHist];
END




USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[BeneficiariosAfiliadoHist]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BeneficiariosAfiliadoHist]
    @TipoDocumento    NVARCHAR(2),
    @NumeroDocumento  NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- CONFIGURACIÓN
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;
    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- TABLA RESULTADO
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        numeroTransaccion NVARCHAR(50),
        ccfCorresponde NVARCHAR(50),
        razonSocialEmpleador NVARCHAR(200),
        tipoDocumBeneficiario NVARCHAR(10),
        numDocumBeneficiario NVARCHAR(20),
        primerNomBeneficiario NVARCHAR(100),
        segundoNomBeneficiario NVARCHAR(100),
        primerApeBeneficiario NVARCHAR(100),
        segundoApeBeneficiario NVARCHAR(100),
        fechaIniAfiliacionBeneficiario NVARCHAR(20),
        fechaFinAfiliacionBeneficiario NVARCHAR(20),
        tipoBeneficiario NVARCHAR(20),
        estadoAfiliacionBeneficiario NVARCHAR(20),
        tipoIdenTrabajador NVARCHAR(10),
        numIdenTrabajador NVARCHAR(20),
        primerNombreTrabajador NVARCHAR(100),
        segundoNombreTrabajador NVARCHAR(100),
        primerApellidoTrabajador NVARCHAR(100),
        segundoApellidoTrabajador NVARCHAR(100),
        tipoAfiliacion NVARCHAR(50),
        subTipoTrabajador NVARCHAR(50),
        horasMesContratadas NVARCHAR(50),
        fechaIniAfiliacionTrabajador NVARCHAR(20),
        fechaFinAfiliacionTrabajador NVARCHAR(20),
        estadoAfiliacionTrabajador NVARCHAR(20),
        tipoAfiliado NVARCHAR(50),
        tipoIdenEmpleador NVARCHAR(10),
        numIdenEmpleador NVARCHAR(20),
        razonSocialEmpresa NVARCHAR(200),
        fechaIniAfiliacionEmpleador NVARCHAR(20),
        fechaFinAfiliacionEmpleador NVARCHAR(20),
        estadoAfiliacionEmpleador NVARCHAR(20),
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- BASES A RECORRER
    ------------------------------------------------------------
    DECLARE @Bases TABLE (TipoServidor CHAR(1), NombreBase SYSNAME);

    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases
        SELECT 'L', name
        FROM sys.databases
        WHERE name LIKE 'espejo_ccf%'
          AND state_desc = 'ONLINE';
    END

    IF @UsarLinked = 1
       AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases
            EXEC (
                'SELECT ''R'', name
                 FROM [' + @LinkedServer + '].master.sys.databases
                 WHERE name LIKE ''espejo_ccf%''
                   AND state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    ------------------------------------------------------------
    -- RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur;
    FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @SQL = N'
            INSERT INTO #Resultado
            SELECT DISTINCT
                '''' AS numeroTransaccion,
                --SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)) AS ccfCorresponde,
                c.nombre_corto AS ccfCorresponde,
                e.c11 AS razonSocialEmpleador,
                b.c94 AS tipoDocumBeneficiario,
                b.c95 AS numDocumBeneficiario,
                b.c98 AS primerNomBeneficiario,
                b.c99 AS segundoNomBeneficiario,
                b.c96 AS primerApeBeneficiario,
                b.c97 AS segundoApeBeneficiario,
                FORMAT(afb.c523, ''yyyy/MM/dd'') AS fechaIniAfiliacionBeneficiario,
                FORMAT(afb.c861, ''yyyy/MM/dd'') AS fechaFinAfiliacionBeneficiario,
                afb.c745 AS tipoBeneficiario,
                CASE WHEN afb.c861 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                aft.c47,
                aft.c48,
                t.c51,
                t.c52,
                t.c49,
                t.c50,
                '''',
                '''',
                '''',
                FORMAT(aft.c523, ''yyyy/MM/dd''),
                FORMAT(aft.c525, ''yyyy/MM/dd''),
                CASE WHEN aft.c525 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                '''',
                e.c8,
                e.c9,
                e.c11,
                FORMAT(afe.c523, ''yyyy/MM/dd''),
                FORMAT(afe.c525, ''yyyy/MM/dd''),
                CASE WHEN afe.c525 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                afb.FechaModificacion
            FROM {DB}.dbo.empleadores e
            INNER JOIN {DB}.dbo.afiliaciones_empleadores afe
                ON afe.c8 = e.c8 AND afe.c9 = e.c9
            INNER JOIN {DB}.dbo.afiliaciones_trabajadores aft
                ON aft.c8 = e.c8 AND aft.c9 = e.c9
            INNER JOIN {DB}.dbo.trabajadores t
                ON t.c47 = aft.c47 AND t.c48 = aft.c48
            INNER JOIN {DB}.dbo.afiliaciones_beneficiarios afb
                ON afb.c47 = aft.c47 AND afb.c48 = aft.c48
               AND afb.c861 IS NOT NULL
            INNER JOIN {DB}.dbo.beneficiarios b
                ON b.c94 = afb.c94 AND b.c95 = afb.c95
            LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)))
            WHERE aft.c47 = @TipoDocumento
              AND aft.c48 = @NumeroDocumento;
            ';

            IF @TipoServidor = 'L'
                SET @SQL = REPLACE(@SQL, '{DB}', QUOTENAME(@NombreBase));
            ELSE
                SET @SQL = REPLACE(
                    @SQL,
                    '{DB}',
                    QUOTENAME(@LinkedServer) + '.' + QUOTENAME(@NombreBase)
                );

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur;
    DEALLOCATE cur;

    ------------------------------------------------------------
    -- RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY ccfCorresponde, numDocumBeneficiario;
END
GO
