IF OBJECT_ID('dbo.PadresMadreBiologicoAfiliado', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[PadresMadreBiologicoAfiliado];
END



USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[PadresMadreBiologicoAfiliado]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PadresMadreBiologicoAfiliado]
    @TipoDocumento   NVARCHAR(2),
    @NumeroDocumento NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- CONFIGURACIÓN
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;
    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- TABLA RESULTADO
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        Caja NVARCHAR(50),
		TipoDocumentoAfiliado NVARCHAR(10),
		NumeroDocumentoAfiliado NVARCHAR(20),
        TipoDocumentoPadreMadre NVARCHAR(10),
        NumeroDocumentoPadreMadre NVARCHAR(20),
        primerNombrePadreBiologico NVARCHAR(100),
		segundoNombrePadreBiologico NVARCHAR(100),
		primerApellidoPadreBiologico NVARCHAR(100),
		segundoApellidoPadreBiologico NVARCHAR(100),
		tipoIdentificacionEmpleadorAfiliadoSigla NVARCHAR(10),
        numeroIdentificacionEmpleadorAfiliado NVARCHAR(20),
        razonSocialEmpleador NVARCHAR(200),
    );

    ------------------------------------------------------------
    -- BASES A RECORRER
    ------------------------------------------------------------
    DECLARE @Bases TABLE (
        TipoServidor CHAR(1),
        NombreBase SYSNAME
    );

    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases
        SELECT 'L', name
        FROM sys.databases
        WHERE name LIKE 'espejo_ccf%'
          AND state_desc = 'ONLINE';
    END

    IF @UsarLinked = 1
       AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases
            EXEC (
                'SELECT ''R'', name
                 FROM [' + @LinkedServer + '].master.sys.databases
                 WHERE name LIKE ''espejo_ccf%''
                   AND state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    ------------------------------------------------------------
    -- RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur;
    FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @SQL = N'
            INSERT INTO #Resultado
			 SELECT distinct
                --SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)) AS Caja,
                c.nombre_corto AS Caja,
				pb.c94 as TipoDocumentoAfiliado,
				pb.c95 as NumeroDocumentoAfiliado,
                pb.c837 AS TipoDocumentoPadreMadre,
                pb.c838 AS NumeroDocumentoPadreMadre,
                pb.c839 as primerNombrePadreBiologico,
				pb.c840 as segundoNombrePadreBiologico,
                pb.c841 as primerApellidoPadreBiologico,
				pb.c842 as segundoApellidoPadreBiologico,
				e.c8  as tipoIdentificacionEmpleadorAfiliadoSigla,
				e.c9 as numeroIdentificacionEmpleadorAfiliado,
				e.c11 as razonSocialEmpleador				
            FROM {DB}.dbo.PadresBiologicos pb
				inner join {DB}.[dbo].[beneficiarios] b
					on pb.c94 = pb.c94 and b.c95 = pb.c95
				inner join {DB}.[dbo].[afiliaciones_beneficiarios] afb
					on afb.c94 = b.c94 and afb.c95 = b.c95
				inner join {DB}.dbo.afiliaciones_trabajadores aft
					on aft.c47 = afb.c47 and aft.c48 = afb.c48
				inner join {DB}.dbo.afiliaciones_empleadores afe
					on afe.c8 = aft.c8 and afe.c9 = aft.c9
				inner join {DB}.dbo.empleadores e
					ON afe.c8 = e.c8 AND afe.c9 = e.c9  
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(@NombreBase, CHARINDEX(''_'', @NombreBase) + 1, LEN(@NombreBase)))
			WHERE pb.c94 = @TipoDocumento
              AND pb.c95 = @NumeroDocumento;
            ';

            IF @TipoServidor = 'L'
                SET @SQL = REPLACE(@SQL, '{DB}', QUOTENAME(@NombreBase));
            ELSE
                SET @SQL = REPLACE(
                    @SQL,
                    '{DB}',
                    QUOTENAME(@LinkedServer) + '.' + QUOTENAME(@NombreBase)
                );

			print @SQL;

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur;
    DEALLOCATE cur;

    ------------------------------------------------------------
    -- RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY Caja, NumeroDocumentoPadreMadre;
END
GO
