IF OBJECT_ID('dbo.DatosBasicos', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[DatosBasicos];
END




USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[DatosBasicos]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DatosBasicos]
    @TipoDocumento    NVARCHAR(2),
    @NumeroDocumento  NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UsarLocal BIT = 1;
    DECLARE @UsarLinked BIT = 1;
    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    CREATE TABLE #Resultado (
        ccfResponde NVARCHAR(50),
        tipoIdentificacionConsultado NVARCHAR(10),
        numeroIdentificacionConsultado NVARCHAR(20),
        primerNombre NVARCHAR(100),
        segundoNombre NVARCHAR(100),
        primerApellido NVARCHAR(100),
        segundoApellido NVARCHAR(100),
        fechaNacimientoAfiliado NVARCHAR(20),
        edadPipe INT,
        nacionalidad NVARCHAR(20),
        lugarNacimiento NVARCHAR(100),
        fechaExpedicion NVARCHAR(20),
        lugarExpedicionDocumento NVARCHAR(100),
        genero NVARCHAR(10),
        fechaValidacionRnec NVARCHAR(20),
        codigoVerificacionRnce NVARCHAR(50),
        TipoAfiliado CHAR(1),
        FechaModificacion VARCHAR(30)
    );

    DECLARE @Bases TABLE (TipoServidor CHAR(1), NombreBase SYSNAME);

    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    IF @UsarLinked = 1
    AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases (TipoServidor, NombreBase)
            EXEC (
                'SELECT ''R'', d.name
                FROM [' + @LinkedServer + '].master.sys.databases d
                WHERE d.name LIKE ''espejo_ccf%''
                AND d.state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur;
    FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @SQL = N'
            INSERT INTO #Resultado
            SELECT
                --SUBSTRING(''' +@NombreBase + ''', CHARINDEX(''_'', ''' +@NombreBase + ''') + 1, LEN(''' +@NombreBase + ''')),
                c.nombre_corto,
                tipoIdentificacionConsultado,
                numeroIdentificacionConsultado,
                primerNombre,
                segundoNombre,
                primerApellido,
                segundoApellido,
                fechaNacimientoAfiliado,
                edadPipe,
                nacionalidad,
                lugarNacimiento,
                fechaExpedicion,
                lugarExpedicionDocumento,
                genero,
                fechaValidacionRnec,
                codigoVerificacionRnce,
                TipoAfiliado,
                FechaModificacion
            FROM (
                SELECT
                    t.c47 AS tipoIdentificacionConsultado,
                    t.c48 AS numeroIdentificacionConsultado,
                    t.c51 AS primerNombre,
                    t.c52 AS segundoNombre,
                    t.c49 AS primerApellido,
                    t.c50 AS segundoApellido,
                    FORMAT(t.c54, ''yyyy/MM/dd'') AS fechaNacimientoAfiliado,
                    DATEDIFF(YEAR, t.c54, GETDATE())
                        - CASE
                            WHEN MONTH(t.c54) > MONTH(GETDATE())
                              OR (MONTH(t.c54)=MONTH(GETDATE()) AND DAY(t.c54)>DAY(GETDATE()))
                            THEN 1 ELSE 0
                          END AS edadPipe,
                    ''NA'' AS nacionalidad,
                    '''' AS lugarNacimiento,
                    '''' AS fechaExpedicion,
                    '''' AS lugarExpedicionDocumento,
                    t.c53 AS genero,
                    '''' AS fechaValidacionRnec,
                    '''' AS codigoVerificacionRnce,
                    ''T'' AS TipoAfiliado,
                    t.FechaModificacion
                FROM {DB}.dbo.trabajadores t
                WHERE t.c47 = @TipoDocumento
                  AND t.c48 = @NumeroDocumento

                UNION ALL

                SELECT
                    b.c94 AS tipoIdentificacionConsultado,
                    b.c95 AS numeroIdentificacionConsultado,
                    b.c98 AS primerNombre,
                    b.c99 AS segundoNombre,
                    b.c96 AS primerApellido,
                    b.c97 AS segundoApellido,
                    FORMAT(b.c101, ''yyyy/MM/dd'') AS fechaNacimientoAfiliado,
                    DATEDIFF(YEAR, b.c101, GETDATE())
                        - CASE
                            WHEN MONTH(b.c101) > MONTH(GETDATE())
                              OR (MONTH(b.c101)=MONTH(GETDATE()) AND DAY(b.c101)>DAY(GETDATE()))
                            THEN 1 ELSE 0
                          END AS edadPipe,
                    ''NA'' AS nacionalidad,
                    '''' AS lugarNacimiento,
                    '''' AS fechaExpedicion,
                    '''' AS lugarExpedicionDocumento,
                    b.c100 AS genero,
                    '''' AS fechaValidacionRnec,
                    '''' AS codigoVerificacionRnce,
                    ''B'' AS TipoAfiliado,
                    b.FechaModificacion
                FROM {DB}.dbo.beneficiarios b
                WHERE b.c94 = @TipoDocumento
                  AND b.c95 = @NumeroDocumento
            ) X
            LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                                        ON c.cajacod = UPPER(SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))

            ;
            ';


            DECLARE @H2_Location NVARCHAR(200);

            IF @TipoServidor = 'L'
                SET @H2_Location = 'H2_Migration';
            ELSE
                SET @H2_Location = QUOTENAME(@LinkedServer) + '.H2_Migration';


            IF @TipoServidor = 'L'
            BEGIN
                SET @SQL = REPLACE(@SQL, '{DB}', QUOTENAME(@NombreBase));
            END
            ELSE
            BEGIN
                SET @SQL = REPLACE(
                    @SQL,
                    '{DB}',
                    QUOTENAME(@LinkedServer) + '.' + QUOTENAME(@NombreBase)
                );
            END

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur;
    DEALLOCATE cur;

    SELECT *
    FROM #Resultado
    ORDER BY ccfResponde, TipoAfiliado;
END;
GO
