IF OBJECT_ID('dbo.AfiliacionesTrabajadoresEmpresa', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[AfiliacionesTrabajadoresEmpresa];
END


USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[AfiliacionesTrabajadoresEmpresa]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AfiliacionesTrabajadoresEmpresa]
    @TipoDocumento    NVARCHAR(2),
    @NumeroDocumento  NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- 1. CONFIGURACIÓN INTERNA
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;

    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- 2. TABLA CONSOLIDADA DE RESULTADO
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        servidorOrigen NVARCHAR(128),
        baseOrigen NVARCHAR(128),
        numeroTransaccion NVARCHAR(50),
        ccfCorrespondeConsultado NVARCHAR(50),
        tipoIdentificacionTrabajador NVARCHAR(2),
        numeroIdentificacionTrabajador NVARCHAR(17),
        tipoIdentificacionEmpleador NVARCHAR(10),
        numeroIdentificacionEmpleador NVARCHAR(20),
        razonSocialEmpleador NVARCHAR(200),
        fechaIniAfiliacionEmpleador NVARCHAR(10),
        fechaFinAfiliacionEmpleador NVARCHAR(10),
        estadoAfiliacionEmpleador NVARCHAR(20),
        primerNomPersona NVARCHAR(100),
        segundoNomPersona NVARCHAR(100),
        primerApePersona NVARCHAR(100),
        segundoApePersona NVARCHAR(100),
        fechaIniAfiliacionTrabajador NVARCHAR(10),
        fechaTerminacion NVARCHAR(10),
        estadoAfiliacion NVARCHAR(20),
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- 3. LISTA DE BASES A CONSULTAR
    ------------------------------------------------------------
    DECLARE @Bases TABLE (TipoServidor CHAR(1), NombreBase SYSNAME);

    -- Bases LOCALES
    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        INNER JOIN [BDCCFSERVER2].H2_Migration.dbo.cat_cajascaja c
            ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX('_', d.name) + 1, LEN(d.name)))
        AND UPPER(LTRIM(RTRIM(c.afiliada))) = 'SI'
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    -- Bases REMOTAS (LINKED)
    IF @UsarLinked = 1
    AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases (TipoServidor, NombreBase)
            EXEC (
                'SELECT ''R'', d.name
                FROM [' + @LinkedServer + '].master.sys.databases d
                INNER JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX(''_'', d.name) + 1, LEN(d.name)))
                    AND UPPER(LTRIM(RTRIM(c.afiliada))) = ''SI''
                WHERE d.name LIKE ''espejo_ccf%''
                AND d.state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    ------------------------------------------------------------
    -- 4. RECORRIDO UNIFICADO (LOCAL + LINKED)
    ------------------------------------------------------------
    DECLARE 
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur_bases CURSOR FOR
        SELECT TipoServidor, NombreBase
        FROM @Bases;

    OPEN cur_bases;
    FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            IF @TipoServidor = 'L'
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT
                    @@SERVERNAME,
                    ''' + @NombreBase + ''',
                    '''',
                    --UPPER(SUBSTRING(''' +@NombreBase + ''', CHARINDEX(''_'', ''' +@NombreBase + ''') + 1, LEN(''' +@NombreBase + '''))),
                    c.nombre_corto,
                    aft.c47,
                    aft.c48,
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    CASE WHEN afe.c583 IS NULL THEN ''1'' ELSE ''0'' END,
                    t.c51,
                    t.c52,
                    t.c49,
                    t.c50,
                    FORMAT(aft.c523, ''yyyy/MM/dd''),
                    FORMAT(aft.c525, ''yyyy/MM/dd''),
                    CASE WHEN aft.c525 IS NULL THEN ''1'' ELSE ''0'' END,
                    CONVERT(VARCHAR(23), aft.FechaModificacion, 121) AS FechaModificacion
                FROM [' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8 AND afe.c9 = e.c9
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_trabajadores aft
                    ON aft.c8 = e.c8 AND aft.c9 = e.c9
                INNER JOIN [' + @NombreBase + '].dbo.trabajadores t
                    ON t.c47 = aft.c47 AND t.c48 = aft.c48
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                                        ON c.cajacod = UPPER(SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))

                WHERE aft.c8 = @TipoDocumento
                  AND aft.c9 = @NumeroDocumento;';
            END
            ELSE
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT
                    ''' + @LinkedServer + ''',
                    ''' + @NombreBase + ''',
                    '''',
                    --UPPER(SUBSTRING(''' +@NombreBase + ''', CHARINDEX(''_'', ''' +@NombreBase + ''') + 1, LEN(''' +@NombreBase + '''))),
                    c.nombre_corto,
                    aft.c47,
                    aft.c48,
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    CASE WHEN afe.c583 IS NULL THEN ''1'' ELSE ''0'' END,
                    t.c51,
                    t.c52,
                    t.c49,
                    t.c50,
                    FORMAT(aft.c523, ''yyyy/MM/dd''),
                    FORMAT(aft.c525, ''yyyy/MM/dd''),
                    CASE WHEN aft.c525 IS NULL THEN ''1'' ELSE ''0'' END,
                    CONVERT(VARCHAR(23), aft.FechaModificacion, 121) AS FechaModificacion
                FROM [' + @LinkedServer + '].[' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8 AND afe.c9 = e.c9
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_trabajadores aft
                    ON aft.c8 = e.c8 AND aft.c9 = e.c9
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.trabajadores t
                    ON t.c47 = aft.c47 AND t.c48 = aft.c48
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                                        ON c.cajacod = UPPER(SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))

                WHERE aft.c8 = @TipoDocumento
                  AND aft.c9 = @NumeroDocumento;';
            END

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en '
                + CASE WHEN @TipoServidor = 'L' THEN 'LOCAL' ELSE 'LINKED' END
                + ' | BD: ' + @NombreBase
                + ' | ' + ERROR_MESSAGE();
        END CATCH

        FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur_bases;
    DEALLOCATE cur_bases;

    ------------------------------------------------------------
    -- 5. RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY servidorOrigen, baseOrigen;
END;
GO
