IF OBJECT_ID('dbo.FOSFEC_BeneficiosAprobado', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[FOSFEC_BeneficiosAprobado];
END


USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[FOSFEC_BeneficiosAprobado]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[FOSFEC_BeneficiosAprobado]
    @TipoDocumento   NVARCHAR(2),
    @NumeroDocumento NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- CONFIGURACIÓN INTERNA
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;
    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- TABLA DE RESULTADO
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        ccf NVARCHAR(50),
        TipoDocumentoAfiliado NVARCHAR(10),
        NumeroDocumentoAfiliado NVARCHAR(20),
        FechaAprobacion DATETIME,
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- BASES A RECORRER (SIN TABLAS DE CONFIG)
    ------------------------------------------------------------
    DECLARE @Bases TABLE (
        TipoServidor CHAR(1),   -- L = Local | R = Remote (Linked)
        NombreBase SYSNAME
    );

    -- Bases locales
    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        INNER JOIN [BDCCFSERVER2].H2_Migration.dbo.cat_cajascaja c
            ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX('_', d.name) + 1, LEN(d.name)))
        AND UPPER(LTRIM(RTRIM(c.afiliada))) = 'SI'
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    -- Bases en linked server
    IF @UsarLinked = 1
    AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases (TipoServidor, NombreBase)
            EXEC (
                'SELECT ''R'', d.name
                FROM [' + @LinkedServer + '].master.sys.databases d
                INNER JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX(''_'', d.name) + 1, LEN(d.name)))
                    AND UPPER(LTRIM(RTRIM(c.afiliada))) = ''SI''
                WHERE d.name LIKE ''espejo_ccf%''
                AND d.state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    ------------------------------------------------------------
    -- RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE curBases CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN curBases;
    FETCH NEXT FROM curBases INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @SQL = N'
            INSERT INTO #Resultado
            SELECT
                --fba.C169 AS ccf,
                c.nombre_corto,
                fba.C47 AS TipoDocumentoAfiliado,
                fba.C48 AS NumeroDocumentoAfiliado,
                fba.C1007 AS FechaAprobacion,
                CONVERT(VARCHAR(23), fba.FechaModificacion, 121) AS FechaModificacion
            FROM {DB}.dbo.BeneficioFOSFEC_Asignado fba
            LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(fba.C169)
            WHERE fba.C47 = @TipoDocumento
              AND fba.C48 = @NumeroDocumento;
            ';

            IF @TipoServidor = 'L'
                SET @SQL = REPLACE(@SQL, '{DB}', QUOTENAME(@NombreBase));
            ELSE
                SET @SQL = REPLACE(
                    @SQL,
                    '{DB}',
                    QUOTENAME(@LinkedServer) + '.' + QUOTENAME(@NombreBase)
                );

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM curBases INTO @TipoServidor, @NombreBase;
    END

    CLOSE curBases;
    DEALLOCATE curBases;

    ------------------------------------------------------------
    -- RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY ccf, FechaAprobacion;
END
GO
