IF OBJECT_ID('dbo.FOSFEC_PagosAfiliado', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[FOSFEC_PagosAfiliado];
END



USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[FOSFEC_PagosAfiliado]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[FOSFEC_PagosAfiliado]
    @TipoDocumento   NVARCHAR(2),
    @NumeroDocumento NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- CONFIGURACIÓN
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;
    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- TABLA RESULTADO
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        ccf NVARCHAR(50),
        TipoDocumentoAfiliado NVARCHAR(10),
        NumeroDocumentoAfiliado NVARCHAR(20),
        EstadoPago NVARCHAR(50),
        FechaPostulacion DATETIME,
        FechaAsignacion DATETIME,
        FechaPrimerPago DATETIME,
        CausalesRechazoA NVARCHAR(100),
        CausalesRechazoB NVARCHAR(100),
        CausalesRechazoC NVARCHAR(100),
        CausalesRechazoD NVARCHAR(100),
        NumeroPagoRealizar INT,
        FechaInicialPeriodo DATETIME,
        FechaFinalPeriodo DATETIME,
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- BASES A RECORRER
    ------------------------------------------------------------
    DECLARE @Bases TABLE (
        TipoServidor CHAR(1),
        NombreBase SYSNAME
    );

    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        INNER JOIN [BDCCFSERVER2].H2_Migration.dbo.cat_cajascaja c
            ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX('_', d.name) + 1, LEN(d.name)))
        AND UPPER(LTRIM(RTRIM(c.afiliada))) = 'SI'
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    IF @UsarLinked = 1
    AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases (TipoServidor, NombreBase)
            EXEC (
                'SELECT ''R'', d.name
                FROM [' + @LinkedServer + '].master.sys.databases d
                INNER JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX(''_'', d.name) + 1, LEN(d.name)))
                    AND UPPER(LTRIM(RTRIM(c.afiliada))) = ''SI''
                WHERE d.name LIKE ''espejo_ccf%''
                AND d.state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    ------------------------------------------------------------
    -- RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur;
    FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @SQL = N'
            INSERT INTO #Resultado
            SELECT
                --SUBSTRING(''' +@NombreBase + ''', CHARINDEX(''_'', ''' +@NombreBase + ''') + 1, LEN(''' +@NombreBase + ''')) AS ccf,
                c.nombre_corto AS ccf,
                fp.C47 AS TipoDocumentoAfiliado,
                fp.C48 AS NumeroDocumentoAfiliado,
                fp.C736 AS EstadoPago,
                fp.C656 AS FechaPostulacion,
                fp.C738 AS FechaAsignacion,
                fp.C739 AS FechaPrimerPago,
                fp.C740 AS CausalesRechazoA,
                fp.C741 AS CausalesRechazoB,
                fp.C742 AS CausalesRechazoC,
                fp.C743 AS CausalesRechazoD,
                fp.C744 AS NumeroPagoRealizar,
                fp.C753 AS FechaInicialPeriodo,
                fp.C754 AS FechaFinalPeriodo,
                CONVERT(VARCHAR(23), fp.FechaModificacion, 121) AS FechaModificacion
            FROM {DB}.dbo.FOSFEC_Pagos fp
            LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                                        ON c.cajacod = UPPER(SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))

            WHERE fp.C47 = @TipoDocumento
              AND fp.C48 = @NumeroDocumento;
            ';

            IF @TipoServidor = 'L'
                SET @SQL = REPLACE(@SQL, '{DB}', QUOTENAME(@NombreBase));
            ELSE
                SET @SQL = REPLACE(
                    @SQL,
                    '{DB}',
                    QUOTENAME(@LinkedServer) + '.' + QUOTENAME(@NombreBase)
                );

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur;
    DEALLOCATE cur;

    ------------------------------------------------------------
    -- RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY ccf, FechaPostulacion;
END
GO
