IF OBJECT_ID('dbo.AfiliacionComoBeneficiarioHist', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE [dbo].[AfiliacionComoBeneficiarioHist];
END



USE [espejo_ccf02]
GO
/****** Object:  StoredProcedure [dbo].[AfiliacionComoBeneficiarioHist]    Script Date: 20/01/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AfiliacionComoBeneficiarioHist]
    @TipoDocumento    NVARCHAR(2),
    @NumeroDocumento  NVARCHAR(17)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- 1. CONFIGURACIÓN INTERNA
    ------------------------------------------------------------
    DECLARE @UsarLocal  BIT = 1;
    DECLARE @UsarLinked BIT = 1;

    DECLARE @LinkedServer SYSNAME = 'BDCCFSERVER2';

    ------------------------------------------------------------
    -- 2. TABLA CONSOLIDADA
    ------------------------------------------------------------
    CREATE TABLE #Resultado (
        numeroTransaccion NVARCHAR(50),
        ccfCorresponde NVARCHAR(50),
        razonSocialEmpleador NVARCHAR(200),
        tipoDocumBeneficiario NVARCHAR(10),
        numDocumBeneficiario NVARCHAR(20),
        primerNomBeneficiario NVARCHAR(100),
        segundoNomBeneficiario NVARCHAR(100),
        primerApeBeneficiario NVARCHAR(100),
        segundoApeBeneficiario NVARCHAR(100),
        fechaIniAfiliacionBeneficiario NVARCHAR(10),
        fechaFinAfiliacionBeneficiario NVARCHAR(10),
        tipoBeneficiario NVARCHAR(50),
        estadoAfiliacionBeneficiario NVARCHAR(20),
        tipoIdentificacionTrabajador NVARCHAR(2),
        numIdenTrabajador NVARCHAR(17),
        tipoAfiliado NVARCHAR(50),
        tipoIdenEmpleador NVARCHAR(10),
        numIdenEmpleador NVARCHAR(20),
        razonSocialEmpleador2 NVARCHAR(200),
        fechaIniAfiliacionEmpleador NVARCHAR(10),
        fechaFinAfiliacionEmpleador NVARCHAR(10),
        estadoAfiliacionEmpleador NVARCHAR(20),
        primerNombreTrabajador NVARCHAR(100),
        segundoNombreTrabajador NVARCHAR(100),
        primerApellidoTrabajador NVARCHAR(100),
        segundoApellidoTrabajador NVARCHAR(100),
        tipoAfiliacion NVARCHAR(50),
        subTipoTrabajador NVARCHAR(50),
        horasMesContratadas NVARCHAR(50),
        fechaIniAfiliacionTrabajador NVARCHAR(10),
        fechaFinAfiliacionTrabajador NVARCHAR(10),
        estadoAfiliacionTrabajador NVARCHAR(20),
        fechaNacimientoBeneficiario NVARCHAR(10),
        FechaModificacion VARCHAR(30)
    );

    ------------------------------------------------------------
    -- 3. BASES A CONSULTAR
    ------------------------------------------------------------
    DECLARE @Bases TABLE (TipoServidor CHAR(1), NombreBase SYSNAME);

    -- Locales
    IF @UsarLocal = 1
    BEGIN
        INSERT INTO @Bases (TipoServidor, NombreBase)
        SELECT
            'L',
            d.name
        FROM sys.databases d
        INNER JOIN [BDCCFSERVER2].H2_Migration.dbo.cat_cajascaja c
            ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX('_', d.name) + 1, LEN(d.name)))
        AND UPPER(LTRIM(RTRIM(c.afiliada))) = 'SI'
        WHERE d.name LIKE 'espejo_ccf%'
        AND d.state_desc = 'ONLINE';
    END

    -- Linked
    IF @UsarLinked = 1
    AND EXISTS (SELECT 1 FROM sys.servers WHERE name = @LinkedServer)
    BEGIN
        BEGIN TRY
            INSERT INTO @Bases (TipoServidor, NombreBase)
            EXEC (
                'SELECT ''R'', d.name
                FROM [' + @LinkedServer + '].master.sys.databases d
                INNER JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(d.name, CHARINDEX(''_'', d.name) + 1, LEN(d.name)))
                    AND UPPER(LTRIM(RTRIM(c.afiliada))) = ''SI''
                WHERE d.name LIKE ''espejo_ccf%''
                AND d.state_desc = ''ONLINE'''
            );
        END TRY
        BEGIN CATCH
            PRINT 'No se pudo consultar linked server';
        END CATCH
    END

    ------------------------------------------------------------
    -- 4. RECORRIDO DE BASES
    ------------------------------------------------------------
    DECLARE
        @TipoServidor CHAR(1),
        @NombreBase SYSNAME,
        @SQL NVARCHAR(MAX);

    DECLARE cur_bases CURSOR FOR
        SELECT TipoServidor, NombreBase FROM @Bases;

    OPEN cur_bases;
    FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            IF @TipoServidor = 'L'
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT DISTINCT
                    '''',
                    --UPPER(SUBSTRING(''' +@NombreBase + ''', CHARINDEX(''_'', ''' +@NombreBase + ''') + 1, LEN(''' +@NombreBase + '''))),
                    c.nombre_corto,
                    e.c11,
                    b.c94,
                    b.c95,
                    b.c98,
                    b.c99,
                    b.c96,
                    b.c97,
                    FORMAT(afb.c523, ''yyyy/MM/dd''),
                    FORMAT(afb.c861, ''yyyy/MM/dd''),
                    afb.c745,
                    CASE WHEN afb.c861 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    aft.c47,
                    aft.c48,
                    '''',
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    CASE WHEN afe.c583 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    t.c51,
                    t.c52,
                    t.c49,
                    t.c50,
                    '''',
                    '''',
                    '''',
                    FORMAT(aft.c523, ''yyyy/MM/dd''),
                    FORMAT(aft.c525, ''yyyy/MM/dd''),
                    CASE WHEN aft.c525 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    FORMAT(b.c101, ''yyyy/MM/dd''),
                    CONVERT(VARCHAR(23), afb.FechaModificacion, 121) AS FechaModificacion
                FROM [' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8 AND afe.c9 = e.c9
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_trabajadores aft
                    ON aft.c8 = e.c8 AND aft.c9 = e.c9
                    AND aft.c525 IS NOT NULL
                INNER JOIN [' + @NombreBase + '].dbo.trabajadores t
                    ON t.c47 = aft.c47 AND t.c48 = aft.c48
                INNER JOIN [' + @NombreBase + '].dbo.afiliaciones_beneficiarios afb
                    ON afb.c47 = aft.c47 AND afb.c48 = aft.c48
                   AND afb.c861 IS NOT NULL
                INNER JOIN [' + @NombreBase + '].dbo.beneficiarios b
                    ON b.c94 = afb.c94 AND b.c95 = afb.c95
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                    ON c.cajacod = UPPER(SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))

                WHERE 
                    b.c94 = @TipoDocumento
                  AND b.c95 = @NumeroDocumento;';
            END
            ELSE
            BEGIN
                SET @SQL = N'
                INSERT INTO #Resultado
                SELECT DISTINCT
                    '''',
                    --UPPER(SUBSTRING(''' +@NombreBase + ''', CHARINDEX(''_'', ''' +@NombreBase + ''') + 1, LEN(''' +@NombreBase + '''))),
                    c.nombre_corto,
                    e.c11,
                    b.c94,
                    b.c95,
                    b.c98,
                    b.c99,
                    b.c96,
                    b.c97,
                    FORMAT(afb.c523, ''yyyy/MM/dd''),
                    FORMAT(afb.c861, ''yyyy/MM/dd''),
                    afb.c745,
                    CASE WHEN afb.c861 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    aft.c47,
                    aft.c48,
                    '''',
                    e.c8,
                    e.c9,
                    e.c11,
                    FORMAT(afe.c523, ''yyyy/MM/dd''),
                    FORMAT(afe.c525, ''yyyy/MM/dd''),
                    CASE WHEN afe.c583 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    t.c51,
                    t.c52,
                    t.c49,
                    t.c50,
                    '''',
                    '''',
                    '''',
                    FORMAT(aft.c523, ''yyyy/MM/dd''),
                    FORMAT(aft.c525, ''yyyy/MM/dd''),
                    CASE WHEN aft.c525 IS NULL THEN ''Activo'' ELSE ''Inactivo'' END,
                    FORMAT(b.c101, ''yyyy/MM/dd''),
                    CONVERT(VARCHAR(23), afb.FechaModificacion, 121) AS FechaModificacion
                FROM [' + @LinkedServer + '].[' + @NombreBase + '].dbo.empleadores e
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_empleadores afe
                    ON afe.c8 = e.c8 AND afe.c9 = e.c9
                    AND afe.c525 IS NULL
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_trabajadores aft
                    ON aft.c8 = e.c8 AND aft.c9 = e.c9
                   AND (aft.c525 IS NULL OR aft.c525 = ''1900-01-01'')
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.trabajadores t
                    ON t.c47 = aft.c47 AND t.c48 = aft.c48
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.afiliaciones_beneficiarios afb
                    ON afb.c47 = aft.c47 AND afb.c48 = aft.c48
                   AND afb.c861 IS NOT NULL
                INNER JOIN [' + @LinkedServer + '].[' + @NombreBase + '].dbo.beneficiarios b
                    ON b.c94 = afb.c94 AND b.c95 = afb.c95
                LEFT JOIN [' + @LinkedServer + '].H2_Migration.dbo.cat_cajascaja c
                                        ON c.cajacod = UPPER(SUBSTRING(''' + @NombreBase + ''', CHARINDEX(''_'',''' + @NombreBase + ''') + 1, LEN(''' + @NombreBase + ''')))

                WHERE b.c94 = @TipoDocumento
                  AND b.c95 = @NumeroDocumento;';
            END

            EXEC sp_executesql
                @SQL,
                N'@TipoDocumento NVARCHAR(2), @NumeroDocumento NVARCHAR(17)',
                @TipoDocumento,
                @NumeroDocumento;
        END TRY
        BEGIN CATCH
            PRINT 'Error en BD ' + @NombreBase + ': ' + ERROR_MESSAGE();
        END CATCH;

        FETCH NEXT FROM cur_bases INTO @TipoServidor, @NombreBase;
    END

    CLOSE cur_bases;
    DEALLOCATE cur_bases;

    ------------------------------------------------------------
    -- 5. RESULTADO FINAL
    ------------------------------------------------------------
    SELECT *
    FROM #Resultado
    ORDER BY ccfCorresponde, numDocumBeneficiario;
END;
GO
